.tela{
       display: inline-block;
       background-color: #000000;
       padding: 40px;
       padding-bottom: 6%;
       padding-top: 10px;
       padding-left:8vh ;
       padding-right:8vh ;
       
}

body{
     font-family: Arial, Helvetica, sans-serif;
     background-color: #271e1e;
}

#logo{
         color: rgb(6, 132, 6);
}

.tela{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 7px;
        
    
}

input:focus {
    border-bottom-color: #1bc963; /* Cor da linha ao clicar */
}


button {
    padding: 15px;
    width: 30vh;
     background-color:rgb(6, 132, 6) ;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    position: relative;
    left: 1vh;
    top: 4vh;
    border-radius: 10vh;
    
}

button:hover {
    transform: scale(1.05);
    background-color: rgb(6, 132, 6);
}



input {
    padding: 12px;
    width: 108%;
    position: relative;
    right:8%;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    transition: border-color 0.3s ease;
    background-color:#000000;
    color: #ffffff;
    
    }

    input:focus {
        border-bottom-color: #1bc963; /* Cor da linha ao clicar */
    }

    ::placeholder{
                font-size: 15px;
                color: #ffffff;
    }
